body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
	text-align: center;
}

strong {
	font-weight: 500;
}

a {
	color: #2E58A6;
	border-bottom: 1px dashed #2E58A6;
	text-decoration: none;
	transition: all .3s;
}

a:hover,
a:focus {
	color: #2E58A6;
	border: 0;
	text-decoration: none;
}

h1,
h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	color: #555;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

h4 {
	font-size: 18px;
	font-weight: 300;
	color: #555;
	line-height: 26px;
}

img {
	max-width: 100%;
}

.medium-paragraph {
	font-size: 18px;
	line-height: 34px;
}

::-moz-selection {
	background: #2E58A6;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #2E58A6;
	color: #fff;
	text-shadow: none;
}


/***** Wrapper *****/

.wrapper {
	display: block;
}


/***** Sidebar *****/

.sidebar {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -255px;
	z-index: 999;
	background: #333;
	color: #fff;
	transition: all .3s;
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: left;
}

.sidebar.active {
	left: 0;
}

.dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 10px;
	transition: all .3s;
	background: #444;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
	background: #555;
	color: #fff;
}

.sidebar .logo {
	padding: 40px 20px;
	border-bottom: 1px solid #444;
	transition: all .3s;
}

.sidebar .logo a {
	display: inline-block;
	width: 172px;
	height: 34px;
	background: url(../images/loo.png) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}

.sidebar ul.menu-elements {
	padding: 10px 0;
	border-bottom: 1px solid #444;
	transition: all .3s;
}

.sidebar ul li a {
	display: block;
	padding: 10px 20px;
	border: 0;
	color: #fff;
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
	outline: 0;
	background: #555;
	color: #fff;
}

.sidebar ul li a i {
	margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
	background: #444;
	color: #fff;
}

.sidebar ul ul a {
	background: #444;
	padding-left: 30px;
	font-size: 14px;
}

.sidebar ul ul li.active>a {
	background: #555;
}

.sidebar a[data-toggle="collapse"] {
	position: relative;
}

.sidebar .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.sidebar .to-top {
	padding: 20px;
	text-align: center;
}

.sidebar .dark-light-buttons {
	padding: 10px 20px 30px 20px;
	text-align: center;
}

/* sidebar light */

.sidebar.light {
	background: #fff;
	color: #888;
}

.sidebar.light .dismiss {
	background: #ddd;
	color: #888;
}

.sidebar.light .dismiss:hover,
.sidebar.light .dismiss:focus {
	background: #ccc;
	color: #888;
}

.sidebar.light .logo {
	border-color: #eee;
}

.sidebar.light .logo a {
	background-image: url(../images/logo-dark.png);
}

.sidebar.light ul.menu-elements {
	border-color: #eee;
}

.sidebar.light ul li a {
	color: #888;
}

.sidebar.light ul li a:hover,
.sidebar.light ul li a:focus,
.sidebar.light ul li.active>a:hover,
.sidebar.light ul li.active>a:focus {
	background: #ccc;
	color: #888;
}

.sidebar.light ul li.active>a,
.sidebar.light a[aria-expanded="true"] {
	background: #ddd;
	color: #888;
}

.sidebar.light ul ul a {
	background: #ddd;
}

.sidebar.light ul ul li.active>a {
	background: #ccc;
}

.sidebar.light a.btn-customized-3 {
	background: #ddd;
	color: #888;
}

.sidebar.light a.btn-customized-3:hover,
.sidebar.light a.btn-customized-3:active,
.sidebar.light a.btn-customized-3:focus,
.sidebar.light a.btn-customized-3:active:focus,
.sidebar.light a.btn-customized-3.active:focus,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc;
	color: #888;
}

.sidebar.light a.btn-customized-4.btn-customized-dark {
	background: #555;
}

.sidebar.light a.btn-customized-4.btn-customized-light {
	background: #eee;
}

.sidebar.light a.btn-customized-4.btn-customized-dark:hover,
.sidebar.light a.btn-customized-4.btn-customized-dark:active,
.sidebar.light a.btn-customized-4.btn-customized-dark:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc;
	color: #fff;
}

.sidebar.light a.btn-customized-4.btn-customized-light:hover,
.sidebar.light a.btn-customized-4.btn-customized-light:active,
.sidebar.light a.btn-customized-4.btn-customized-light:focus,
.sidebar.light a.btn-customized-4.btn-customized-light:active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.active:focus,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
.sidebar.light a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	background: #ccc;
	color: #fff;
}


/***** Dark overlay *****/

.overlay {
	display: none;
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(51, 51, 51, 0.7);
	z-index: 998;
	opacity: 0;
	transition: all .5s ease-in-out;
}

.overlay.active {
	display: block;
	opacity: 1;
}


/***** Content *****/

.content {
	width: 100%;
	transition: all 0.3s;
}

.open-menu {
	position: fixed;
	top: 20px;
	left: 10px;
	z-index: 997;
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

.logo-container .logo {
	position: fixed;
	right: 0px;
	z-index: 997;
	width: 7%;
}

@media (max-width:767px) {
	.logo-container .logo {
		position: fixed;
		right: 20px;
		z-index: 997;
		width: 18%;
	}
}

@media (max-width: 575px) {
	.logo-container .logo {
		position: fixed;
		right: 20px;
		z-index: 997;
		width: 18%;
	}
}



.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.2);
}

/* ---------------------------pour programmes------------------------------------ */


#timeline {
	width: 100%;

	height: 950px;
	background-color: white;
	padding: 20px 1%;
	overflow: hidden
}

#timeline ul {
	min-height: 900px;
	border-top: 0;
	border-left: 4px solid transparent;
	border-left-color: #7ab800;
	/* Fullback */
	-webkit-border-image: -webkit-linear-gradient(top,
			#7ab800 0%,
			#071ac7 35%,
			#f2af00 50%,
			#ce1126 65%);
	-moz-border-image: -moz-linear-gradient(top,
			#7ab800 0%,
			#071ac7 35%,
			#f2af00 50%,
			#ce1126 65%);
	-ms-border-image: -ms-linear-gradient(top,
			#7ab800 0%,
			#071ac7 35%,
			#f2af00 50%,
			#ce1126 65%);
	-o-border-image: -o-linear-gradient(top,
			#7ab800 0%,
			#071ac7 35%,
			#f2af00 50%,
			#ce1126 65%,
			#6e2585 100%);
	border-image: linear-gradient(top,
			#7ab800 0%,
			#071ac7 35%,
			#f2af00 50%,
			#ce1126 65%,
			#6e2585 100%);
	border-image-slice: 1;
	position: relative;
	top: 5%;
	left: 50%;
	perspective: 2000px
}

#timeline ul li:after {
	/* content: "\2713"; */
	font-family: fontawesome;
	display: block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	font-weight: 100;
	font-size: 90%;
	line-height: 35px;
	text-align: center;
	background-color: #071ac7;
	color: #fff;
	position: absolute;
	-webkit-transition: transform 1s linear;
	transition: transform 1s linear
}

#timeline ul li:nth-child(2):after {
	background-color: #071ac7;
}

#timeline ul li:nth-child(3):after {

	background-color: #f2af00;
}

#timeline ul li:nth-child(4):after {

	background-color: #ce1126
}

#timeline ul li .cont p {
	display: block;

}

#timeline ul li .cont p {
	font-size: 1.5em;

}

#timeline ul li:last-child:after {

	background-color: #071ac7
}

#timeline ul li .cont {
	width: 200px;
	height: 110px;
	padding: 25px 10px 10px;
	border: 2px solid transparent;
	border-radius: 4px;
	-webkit-transform: translate(0, -55px);
	transform: translate(0, -55px);
	text-transform: capitalize;
	line-height: 150%;
	font-size: 80%;
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	top: 22px
}

#timeline ul li:nth-child(odd) .cont {
	-webkit-transform-origin: left;
	transform-origin: left;
	-webkit-transition: transform 1.5s linear;
	transition: transform 1.5s linear
}

#timeline ul li:nth-child(even) .cont {
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transition: transform 1.5s linear;
	transition: transform 1.5s linear
}

#timeline ul li:first-child .cont {
	color: #7ab800
}

#timeline ul li:nth-child(2) .cont {
	color: #071ac7
}

#timeline ul li:nth-child(3) .cont {
	color: #f2af00
}

#timeline ul li:nth-child(4) .cont {
	color: #ce1126
}

#timeline ul li:last-child .cont {
	color: #071ac7
}

#timeline ul li:nth-child(odd):hover .cont {
	text-align: left;
	-webkit-transform: rotateY(-175deg) translate3d(60px, -50px, 5px);
	transform: rotateY(-175deg) translate3d(60px, -50px, 5px);
	-webkit-transition: transform 1.5s linear;
	transition: transform 1.5s linear;
}

#timeline ul li:nth-child(even):hover .cont {
	text-align: left;
	-webkit-transform: rotateY(175deg) translate3d(-60px, -50px, 5px);
	transform: rotateY(175deg) translate3d(-60px, -50px, 5px);
	-webkit-transition: transform 1.5s linear;
	transition: transform 1.5s linear
}

#timeline ul li:nth-child(odd):hover .cont p,
#timeline ul li:nth-child(odd):hover .cont h4 {
	-webkit-transform: rotateY(-175deg);
	transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont p,
#timeline ul li:nth-child(even):hover .cont h4 {
	-webkit-transform: rotateY(175deg);
	transform: rotateY(175deg)
}

#timeline ul li:nth-child(2) .cont time {
	background-color: #071ac7
}

#timeline ul li:nth-child(3) .cont time {
	background-color: #F2AF00
}

#timeline ul li:nth-child(4) .cont time {
	background-color: #CE1126
}

#timeline ul li:last-child .cont time {
	background-color: #071ac7
}

#timeline ul li:nth-child(odd):hover .cont time {
	-webkit-transform: rotateY(-175deg);
	transform: rotateY(-175deg)
}

#timeline ul li:nth-child(even):hover .cont time {
	-webkit-transform: rotateY(175deg);
	transform: rotateY(175deg)
}



#timeline ul li:nth-child(n+1):after {
	left: -18px
}

#timeline ul li:first-child:after,
#timeline ul li:first-child .cont {
	top: 8%
}

#timeline ul li:nth-child(2):after,
#timeline ul li:nth-child(2) .cont {
	top: 28%
}

#timeline ul li:nth-child(3):after,
#timeline ul li:nth-child(3) .cont {
	top: 48%
}

#timeline ul li:nth-child(4):after,
#timeline ul li:nth-child(4) .cont {
	top: 68%
}

#timeline ul li:last-child:after,
#timeline ul li:last-child .cont {
	top: 88%
}

#timeline ul li:nth-child(n+1):hover:after {
	-webkit-transform: rotateZ(360deg);
	transform: rotateZ(360deg);
	-webkit-transition: transform 1s linear;
	transition: transform 1s linear
}

#timeline ul li:first-child .cont {
	border-color: #7ab800
}

#timeline ul li:nth-child(2) .cont {
	border-color: #071ac7
}

#timeline ul li:nth-child(3) .cont {
	border-color: #f2af00
}

#timeline ul li:nth-child(4) .cont {
	border-color: #ce1126
}

#timeline ul li:last-child .cont {
	border-color: #071ac7
}

#timeline ul li:nth-child(odd) .cont {
	left: 30px
}

#timeline ul li:nth-child(even) .cont {
	left: -255px
}

#timeline ul li .cont:before,
#timeline ul li .cont:after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
}

#timeline ul li:nth-child(odd) .cont:before {
	border-width: 11px 11px 11px 0;
}

#timeline ul li:nth-child(even) .cont:before {
	border-width: 11px 0 11px 11px
}

#timeline ul li:nth-child(odd) .cont:after {
	border-width: 10px 10px 10px 0
}

#timeline ul li:nth-child(even) .cont:after {
	border-width: 10px 0 10px 10px
}

#timeline ul li:nth-child(odd) .cont:before {
	top: 50%;
	left: -11px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:before {
	top: 50%;
	right: -11px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

#timeline ul li:first-child .cont:before {
	border-color: transparent #7ab800 transparent transparent
}

#timeline ul li:nth-child(2) .cont:before {
	border-color: transparent transparent transparent #071ac7
}

#timeline ul li:nth-child(3) .cont:before {
	border-color: transparent #f2af00 transparent transparent
}

#timeline ul li:nth-child(4) .cont:before {
	border-color: transparent transparent transparent #ce1126
}

#timeline ul li:last-child .cont:before {
	border-color: transparent #071ac7 transparent transparent
}

#timeline ul li:nth-child(odd) .cont:after {
	border-color: transparent #222223;
	top: 50%;
	left: -9px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

#timeline ul li:nth-child(even) .cont:after {
	border-color: transparent #222223;
	top: 50%;
	right: -9px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%)
}

#timeline ul li .cont time {
	width: 100px;
	height: 30px;
	position: absolute;
	top: -15px;
	left: calc(100%/2 - 50px);
	background-color: #7AB800;
	color: #f5f5f5;
	line-height: 30px;
	text-align: center;
	border-radius: 3px
}


@media screen and (max-width: 600px) {
	#timeline ul li .cont {
		width: 120px;
		line-height: 120%
	}

	#timeline ul li:nth-child(even) .cont {
		left: -175px
	}

	#timeline ul li .cont p,
	#timeline ul li .cont time {
		font-size: 1em
	}

	#timeline {
		padding-left: 10px;
		/* padding-right: 10px; */
	}


}

@media (max-width: 575px) {

	#timeline ul li .cont p,
	#timeline ul li .cont time {
		font-size: 1em
	}

	#timeline ul li .cont {
		width: 120px;
		line-height: 120%
	}

	#timeline {
		padding-left: 10px;
		/* padding-right: 10px; */
	}

}

/* ---------------------------pour programmes fin------------------------------------ */


/***** Buttons *****/

a.btn-customized {
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: #2E58A6;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #cd533d;
	background: rgba(243, 91, 63, 0.7);
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-2 {
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #ccc;
	background: rgba(255, 255, 255, 0.5);
	border: 0;
	color: #555;
	box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: .75rem 1.5rem;
	background: #444;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
	margin-right: 5px;
}


a.btn-customized-4 {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 3px;
	padding: 0;
	background: #444;
	border: 0;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
	text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark {
	background: #222;
}

a.btn-customized-4.btn-customized-light {
	background: #fff;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}


/***** General style, all sections *****/

.section-container {
	margin: 0 auto;
	/* padding-bottom: 80px; */
}

.section-container-gray-bg {
	background: #f8f8f8;
}

.section-container-image-bg,
.section-container-image-bg h2,
.section-container-image-bg h3 {
	color: #fff;
}

.section-container-image-bg .divider-1 span {
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.8);
}

.section-description {
	margin-top: 40px;
	padding-bottom: 10px;
}

.section-description p {
	margin-top: 15px;
	padding: 0 100px;
}

.section-container-image-bg .section-description p {
	opacity: 0.8;
}

.section-bottom-button {
	padding-top: 15px;
}


/***** Divider *****/

.divider-1 span {
	display: inline-block;
	width: 200px;
	border-bottom: 1px dotted #aaa;
}


/***** Top content *****/

.top-content {
	width: 100%;
	height: 90vh;
	background-image:
		linear-gradient(to left bottom,
			rgba(7, 7, 7, 0.4),
			rgba(7, 7, 7, 0.4)),
		url('../images/Cover.PNG');
	background-size: cover;
	background-position: top;
	position: relative;
	/* background-size: auto;
	background-size: contain; 
	
	
    linear-gradient(to left bottom, 
   rgba(165, 182, 218, 0.8),
   rgba(50, 50, 55, 0.8)),
   
	*/

}

@media all and (min-width:414px) and (max-width:768px) {
	.top-content {
		width: 100%;
		height: 60vh;

	}
}

.section-6-container {

	background-image:
		linear-gradient(to left bottom,
			rgba(34, 109, 194, 0.3),
			rgba(34, 109, 194, 0.3)),
		url('../images/5.jpeg');
	background-size: cover;
	background-position: top;
	position: relative;
}

.section-6-container a {

	text-decoration: none !important;
	color: black;
}

.progr {
	width: 100%;
	height: 95vh;
	background-image:
		linear-gradient(to left bottom,
			rgba(7, 7, 7, 0.2),
			rgba(7, 7, 7, 0.2)),
		url('../images/program.PNG');
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;

}

.top-content h1 {
	margin-top: 8em;
	color: #071ac7;
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem;
	background-color: rgba(255, 255, 255, 0.041);
	backdrop-filter: blur(10px);
	border-radius: 4px;
	font-weight: 700;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.top-content .description {
	margin: 30px 0 0 0;
	padding-bottom: 30px;
}

.top-content .description p {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}

.top-content .description a {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
	border-color: #fff;
	border-color: rgba(255, 255, 255, 0.8);
}

.top-content .description a:hover,
.top-content .description a:focus {
	color: #fff;
	color: rgba(255, 255, 255, 0.8);
}


/***** Section 1 *****/

.section-1-box {
	padding-top: 10px;
	text-align: left;
}

.section-1-box .section-1-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	font-size: 40px;
	line-height: 78px;
	text-align: center;
	border-radius: 50%;
}

.section-1-box .section-1-box-icon.icon1 {
	border: 2px solid rgb(51, 224, 74);
	color: rgb(51, 224, 74);
}

.section-1-box .section-1-box-icon.icon2 {
	border: 2px solid #FE0000;
	color: #FE0000;
}

.section-1-box .section-1-box-icon.icon3 {
	border: 2px solid #f2af00;
	color: #f2af00;
}

.section-1-box .section-1-box-icon.icon4 {
	border: 2px solid #2E58A6;
	color: #2E58A6;
}

.section-4-box .section-4-box-icon {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	font-size: 40px;
	line-height: 78px;
	text-align: center;
	border-radius: 50%;
}

.section-4-box .section-4-box-icon.icon1 {
	border: 2px solid #2E58A6;
	color: #2E58A6;
}

.section-4-box .section-4-box-icon.icon2 {
	border: 2px solid #FE0000;
	color: #FE0000;
}

.section-4-box .section-4-box-icon.icon3 {
	border: 2px solid #f2af00;
	color: #f2af00;
}

.section-4-box .section-4-box-icon.icon4 {
	border: 2px solid rgb(51, 224, 74);
	color: rgb(51, 224, 74);
}


/* 
----------------------------------caravane css ----------------------*/

.circle {
	padding: 13px 20px;
	border-radius: 50%;
	background-color: #2E58A6;
	color: #fff;
	max-height: 50px;
	z-index: 2;
}

.how-it-works.row .col-2 {
	align-self: stretch;
}

.how-it-works.row .col-2::after {
	content: "";
	position: absolute;
	border-left: 3px solid #2E58A6;
	z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
	height: 50%;
	left: 50%;
	top: 50%;
}

.how-it-works.row .col-2.full::after {
	height: 100%;
	left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
	height: 50%;
	left: 50%;
	top: 0;
}


.timeline div {
	padding: 0;
	height: 40px;
}

.timeline hr {
	border-top: 3px solid #2E58A6;
	margin: 0;
	top: 17px;
	position: relative;
}

.timeline .col-2 {
	display: flex;
	overflow: hidden;
}

.timeline .corner {
	border: 3px solid #2E58A6;
	width: 100%;
	position: relative;
	border-radius: 15px;
}

.timeline .top-right {
	left: 50%;
	top: -50%;
}

.timeline .left-bottom {
	left: -50%;
	top: calc(50% - 3px);
}

.timeline .top-left {
	left: -50%;
	top: -50%;
}

.timeline .right-bottom {
	left: 50%;
	top: calc(50% - 3px);
}

/* caravane end ------------------------------  */

/* --------------------------------timer css-------------------------------------- */

.coming-soon {
	margin: 0 auto;
}

.inner-bg {
	padding: 75px 0 40px 0;
}

.coming-soon .logo {
	padding-bottom: 20px;
}

.coming-soon .logo h1 {
	margin: 0;
}

.coming-soon .logo a {
	display: inline-block;
	width: 200px;
	height: 110px;
	background: url(../img/logo.png) center center no-repeat;
	text-indent: -99999px;
}

.coming-soon .logo a:focus {
	outline: 0;
}

.coming-soon .logo a:hover {
	background-image: url(../img/logo-hover.png);
}

.coming-soon .logo a:before {
	content: url(../img/logo-hover.png);
	width: 0;
	height: 0;
	visibility: hidden;
}

.coming-soon p {
	margin: 60px 0 10px 0;
	padding: 0 120px;
	font-size: 22px;
	line-height: 36px;
}

.timer {
	margin-top: 60px;
}

.timer .days-wrapper,
.timer .hours-wrapper,
.timer .minutes-wrapper,
.timer .seconds-wrapper {
	display: inline-block;
	width: 160px;
	margin: 0 10px;
	font-size: 18px;
}

.timer .days,
.timer .hours,
.timer .minutes,
.timer .seconds {
	font-size: 80px;
	font-weight: 100;
	line-height: 90px;
}


/* --------------------------------timer css end-------------------------------------- */




.section-1-box .icon1 .section-1-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Section 2 *****/

.section-2-box {
	margin-top: 30px;
	text-align: left;
}

.section-2-box h3 {
	margin-top: 0;
}

.section-2-box-text .medium-paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.section-2-box img {
	border-radius: 6px;
	height: 23em;
	width: 100%;
}




/***** Section 3 *****/

.section-3-box {
	margin-top: 30px;
	text-align: left;
}

.section-3-box .section-3-box-icon {
	width: 60px;
	height: 60px;
	margin: 0 auto;
	background: #2E58A6;
	font-size: 28px;
	color: #fff;
	line-height: 60px;
	text-align: center;
	border-radius: 50%;
}

.section-3-box h3 {
	margin-top: 0;
	padding: 0 0 10px 0;
}


/***** Section 5 *****/

.section-5-box {
	padding-top: 30px;
	text-align: left;
}

.section-5-box-image {
	overflow: hidden;
	border-radius: 6px;
}

.section-5-box-image img {
	transition: all .8s;
}

.section-5-box-image:hover img {
	transform: scale(1.25);
}

.section-5-box h3 {
	margin-top: 30px;
}

.section-5-box h3 a {
	color: #555;
	border: 0;
}

.section-5-box h3 a:hover,
.section-5-box h3 a:focus {
	color: #2E58A6;
}

.section-5-box h3 i {
	padding-left: 10px;
	color: #ccc;
	transition: all .3s;
}

.section-5-box h3:hover i {
	padding-left: 15px;
}

.section-5-box-date {
	padding-bottom: 10px;
	font-size: 14px;
	color: #aaa;
	text-transform: uppercase;
}

.section-5-box-date i {
	padding-right: 5px;
	color: #ddd;
}

.section-5-container .section-bottom-button {
	padding-top: 40px;
}


/***** Section 6 *****/

.section-6-box {
	padding-top: 30px;
	text-align: left;
}

.section-6-box h3 {
	margin-top: 0;
}

/* contact form */
.section-6-form {
	padding-top: 20px;
	text-align: left;
}

.section-6-form input[type="text"],
.section-6-form textarea {
	background: none;
	border: 1px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
	transition: all .3s;
}

.section-6-form textarea {
	height: 90px;
}

.section-6-form input[type="text"]:focus,
.section-6-form textarea:focus {
	outline: 0;
	background: #fff;
	border: 1px solid #fff;
	color: #888;
	box-shadow: none;
}

.section-6-form input[type="text"].input-error,
.section-6-form textarea.input-error {
	border-color: #2E58A6;
}

.section-6-form input[type="text"]::-moz-placeholder,
.section-6-form textarea::-moz-placeholder {
	color: #ccc;
	font-style: italic;
}

.section-6-form input[type="text"]:-ms-input-placeholder,
.section-6-form textarea:-ms-input-placeholder {
	color: #ccc;
	font-style: italic;
}

.section-6-form input[type="text"]::-webkit-input-placeholder,
.section-6-form textarea::-webkit-input-placeholder {
	color: #ccc;
	font-style: italic;
}

.section-6-form button.btn-customized {
	padding: .75rem 1.5rem;
	background: #2E58A6;
	border: 0;
	border-radius: 4px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

.section-6-form button.btn-customized:hover,
.section-6-form button.btn-customized:active,
.section-6-form button.btn-customized:focus,
.section-6-form button.btn-customized:active:focus,
.section-6-form button.btn-customized.active:focus,
.section-6-form button.btn.btn-primary:not(:disabled):not(.disabled):active,
.section-6-form button.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #cd533d;
	background: rgba(243, 91, 63, 0.7);
	border: 0;
	color: #fff;
	box-shadow: none;
}

.section-6-form button.btn-customized i {
	margin-right: 5px;
}

/* end contact form */

.section-6-social {
	padding-top: 20px;
}

.section-6-social a {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin: 0 10px 10px 0;
	background: #fff;
	border: 0;
	border-radius: 50%;
	color: #555;
	text-align: center;
	line-height: 46px;
}

.section-6-social a:hover,
.section-6-social a:focus {
	background: #ccc;
	background: rgba(255, 255, 255, 0.5);
	border: 0;
	color: #555;
}


/***** Footer *****/

footer {
	padding: 40px 0;
}